.row
  .jumbotron{style:"color:white; background: #6f5499;"}
    %h1 IOS 报表测试
    %h2 OC & Highcharts

.row
  %p.text-primary
    测试Highchart作为移动端(IOS)报表，交互效果如何。

.row
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    .panel.panel-default
      #heading_1.panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"aria-controls" => "collapse_1", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_1", :role => "button"}
            相关链接
      #collapse_1.panel-collapse.collapse{"aria-labelledby" => "heading_1", :role => "tabpanel"}
        .panel-body
          .list-group
            = link_to "APP 安装(IOS)", "http://www.pgyer.com/hChart", target: "_blank", class: "list-group-item"
            = link_to "Demo 站内演示", "highcharts/examples", class: "list-group-item"
            = link_to "Highcharts 官网", "http://www.highcharts.com/", target: "_blank", class: "list-group-item"
            = link_to "Highcharts Demo下载", "https://www.highcharts.com/download", target: "_blank", class: "list-group-item"
            = link_to "Highcharts Github", "https://github.com/highslide-software/highcharts.com", target: "_blank", class: "list-group-item"
            = link_to "WebViewJavascriptBridge(OC 插件)", "https://github.com/marcuswestin/WebViewJavascriptBridge", target: "_blank", class: "list-group-item"
            = link_to "hpple(OC 插件)", "https://github.com/topfunky/hpple", target: "_blank", class: "list-group-item"

    .panel.panel-default
      #heading_2.panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"aria-controls" => "collapse_2", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_2", :role => "button"}
            上传Demo
      #collapse_2.panel-collapse.collapse.in{"aria-labelledby" => "heading_2", :role => "tabpanel"}
        .panel-body
          %ol.help-block
            %li 文件名无空格，后缀为.zip
            %li 首页为index.html
            %li 内部链接不忽略字母大小写
          %form{enctype:"multipart/form-data", action:"/demo/highcharts/upload", method:"POST"}
            .form-group
              %label{:for => "exampleInputFile"} File input
              %input#exampleInputFile{name:"file", type: "file", accept: "application/zip"}
            %button.btn.btn-default{:type => "submit"} Submit

    .panel.panel-default
      #heading_3.panel-heading{:role => "tab"}
        %h4.panel-title
          %a{"aria-controls" => "collapse_3", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse_3", :role => "button"}
            零碎笔记
      #collapse_3.panel-collapse.collapse{"aria-labelledby" => "heading_3", :role => "tabpanel"}
        .panel-body

          %p.text-muted
            Highcharts Demo中jquery使用google的cdn链接，甚为不便，批量替换为本地引用，打开速度轻盈许多。
          %pre
            :preserve
                #!/bin/bash
                google="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"
                localfile="../../js/jquery.min.js"
            
                ## step 1
                #  replace google cdn file with local file
            
                # step 1.1
                # grep -rl "${google}" --include="*.htm" $(pwd) | xargs sed -i .bak.html "s?${google}?${localfile}?g"
            
                # step 1.2.1
                # 如出意外，则还原回来
                # for filepath in $(find $(pwd) -type f -name "*.bak.html")
                # do
                #     mv ${filepath} ${filepath%.bak.html}
                # done
            
                # step 1.2.2
                # 如无意外，删除备份
                # find $(pwd) -type f -name "*.bak.html" -exec rm {} \;
            
          %p.text-muted
            实例过多，添加到本站代码中，感觉太啰嗦。
          %p.text-muted
            使用cdn方式加载，七牛（免费用户）不支持多层文件夹引用，只好再写脚本，<code>/</code>替换为<code>_</code>,文件路径就成为文件名的一部分.
            遗憾的是，引用的<code>js</code>文件添加到站点代码中了...
          %pre
            :preserve
                #!/bin/bash
                ## step 2
                #  tranverse folders to flatten files
            
                examples_path=$(pwd)/examples
                target_dir=$(pwd)/flatten_files
                test -d ${target_dir} || mkdir -p ${target_dir}
            
                for filepath in $(find ${examples_path} -type f -name "*.htm")
                do
                  # echo ${filepath}
                  # Users/lijunjie/Downloads/Highcharts-4.1.9/examples/waterfall/index.htm
            
                  relative_file_path=${filepath#*examples/}
                  # echo ${relative_file_path}
                  # waterfall/index.htm
            
                  flatten_file_name=${relative_file_path//\//_}
                  # echo ${flatten_file_name}
                  # waterfall_index.htm
            
            
                  cp ${filepath} ${target_dir}/${flatten_file_name}
                done
