.row
  %h1 DashBoard

.row
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th title
        %th datetime
        %td data
    %tbody
      - startup = Time.now
      %tr
        %td startup 
        %td= startup.strftime("%Y/%m/%d %H:%M:%S") 
        %td
      %tr
        %td sysdate
        %td= Time.now.strftime("%Y/%m/%d %H:%M:%S")
        %td
      %tr
        %td trigger
        - pool_data_info("trigger").each do |item|
          %td= item
      %tr
        %td download
        - pool_data_info("download").each do |item|
          %td= item
      %tr
        %td move
        - pool_data_info("move").each do |item|
          %td= item
      %tr
        %td crontab
        - pool_data_info("crontab").each do |item|
          %td= item
