-# coding: UTF-8
!!!
%html{"ng-app" => "solife"}
  %head
    = render_page_title
    %meta{"http-equiv" => "content-type", content: "text/html", charset: "UTF-8"}
    %meta{name: "renderer", content:"webkit"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: "/images/favicon-demo.ico", rel: "shortcut icon"}
    %meta{name: "keywords", content: "#{@meta_keywords}"}
    %meta{name: "description", content: "#{@meta_description}"}

    = stylesheet_link_tag_with_cdn "http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"
    = stylesheet_link_tag_with_cdn "http://v3.bootcss.com/assets/css/docs.min.css"
    = stylesheet_link_tag "demo-home"

    :css
      .link-no-hover:hover {text-decoration: none;}

    :javascript
      function imgLoaded(img) {
          var imgWrapper = img.parentNode;
          imgWrapper.className += imgWrapper.className? ' loaded' : 'loaded';
      };

  %body
    .header{:style => "background-image: url(/images/iterm2-cmatrix.png);"}
      .container
        .row
          .col-xs-12
            .logotxt
              %h1
                %a.link-no-hover{:href => "http://demo.solife.us"} 实验室
            %h2.site-name.text-center
              Segment of life
              %span demo.solife.us

        %span{class:"bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline",style: "color:white;background:#062E39; margin:0 auto 30px;width:100px;height:100px;font-size:80px;line-height:100px;"} Y

    %main.main{:role => "main"}
      .container
        #post-list.row
          - @demo_items.each do |item|
            .col-xs-12.col-md-6
              %article.post.tag-ad
                %h2.post-title
                  %a.link-no-hover.post-href{:href => item["href"], :target => "_self"}= item["text"]
                .post-featured-image
                  %a.post-href.thumbnail{:href => item["href"], :target => "_self"}
                    %img{:alt => item["text"], :height => "600", :onload => "imgLoaded(this)", :src => "images/#{item['thumbnail']}", :width => "800"}/

    .submit-site
      .container
        .submit
          %p.text-center
            声明!该页面UI拷贝
            %a{:href => "http://expo.bootcss.com/", :target => "_blank"} Bootstrap 优站精选
          %p.text-center
            联系方式
            %a{:href => "mailto:jay_li@solife.us"} jay_li@solife.us

    %footer.main-footer
      .container
        .row
          .col-sm-4
            .widget
              %h4.title 友情链接
              .content.friend-links
                = link_to "小六语记", "http://xiao6say.com", target: "_blank"
                %pangu
                = link_to "Bootstrap 中文网", "http://www.bootcss.com/", target: "_blank"
                %pangu
                = link_to "RubyChina", "https://ruby-china.org/", target:"_blank"
          .col-sm-4
            .widget
              %h4.title 使用到的技术
              .content.tag-cloud
                %a{:href => "http://www.bootcss.com/", :target => "_blank", :title => "Bootstrap中文网"} Bootstrap
                %a{:href => "http://www.bootcdn.cn/", :target => "_blank", :title => "BootCDN"} BootCDN
                %a{:href => "http://www.jquery123.com/", :target => "_blank", :title => "jQuery中文文档"} jQuery
                %a{:href => "http://www.sinatrarb.com/", :target => "_blank", :title => "Sinatra"} Sinatra
                %a{:href => "http://angularjs.org", :target => "_blank", :title => "Sinatra"} AngularJS
                %a{:href => "http://www.highcharts.com", :target => "_blank", :title => "Sinatra"} HighChart
          .col-sm-4
            .widget
              %h4.title 赞助商
              .content.friend-links
                %a{:href => "", :title => "私房钱"} 不可言说

    = javascript_include_tag_with_cdn "jquery-2.1.1.min.js"
    :javascript
      $(function(){
        var pathname = window.location.pathname;
        $(".post-href").each(function(){
          $(this).attr("href", (pathname + $(this).attr('href')).replace("//", "/"));
        });
      })
