-# coding: UTF-8
!!!
%html{"ng-app" => "solife"}
  %head
    = render_page_title
    %meta{"http-equiv" => "content-type", content: "text/html", charset: "UTF-8"}
    %meta{name: "renderer", content:"webkit"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{href: "/images/favicon-demo.ico", rel: "shortcut icon"}
    %meta{name: "keywords", content: "#{@meta_keywords}"}
    %meta{name: "description", content: "#{@meta_description}"}

    = stylesheet_link_tag_with_cdn "bootstrap.320.min.css"
    = stylesheet_link_tag "http://v3.bootcss.com/assets/css/docs.min.css"
    = stylesheet_link_tag "demo-home"
    :css
      .link-no-hover:hover {text-decoration: none;}

  %body
    .header{:style => "background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg)"}
      .container
        .row
          .col-xs-12
            .logotxt
              %h1
                %a.link-no-hover{:href => "http://demo.solife.us"} SegmentOfLife
            %h2.site-name.text-center
              个人实验室
              %span demo.solife.us

        .row
          .col-xs-offset-5.col-xs-2
            %span{class:"bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline",style: "background:purple;position:absolute; width:100px;height:100px;font-size:80px;line-height:100px;"}Y

    %main.main{:role => "main"}
      .container
        #post-list.row
          - @demo_items.each do |item|
            .col-xs-12.col-md-6
              %article.post.tag-ad
                %h2.post-title
                  %a.link-no-hover.post-href{:href => item["href"], style:"color:purple;", :target => "_self"}= item["text"]
                .post-featured-image
                  %a.post-href.thumbnail.loaded{:href => item["href"], :target => "_self"}
                    %img{:alt => item["text"], :height => "600", :onload => "imgLoaded(this)", :src => "images/#{item['thumbnail']}", :width => "800"}/




    .submit-site
      .container
        .submit
          %p.text-center
            该界面拷贝自
            %a{:href => "http://expo.bootcss.com/", :target => "_blank"} Bootstrap 优站精选
            ，未作商业用途，敬请谅解！
          %p.text-center
            联系方式
            %a{:href => "mailto:jay_li@solife.us"} jay_li@solife.us

    %footer.main-footer
      .container
        .row
          .col-sm-4
            .widget
              %h4.title 友情链接
              .content.friend-links
                %a{:href => "http://www.bootcss.com/", :target => "_blank", :title => "Bootstrap中文网"} Bootstrap 中文网
                %pangu
                %a{:href => "https://ruby-china.org/", :target => "_blank", :title => "RubyChina"} RubyChina
          .col-sm-4
            .widget
              %h4.title 使用到的技术
              .content.tag-cloud
                %a{:href => "http://www.bootcss.com/", :target => "_blank", :title => "Bootstrap中文网"} Bootstrap
                %a{:href => "http://www.bootcdn.cn/", :target => "_blank", :title => "BootCDN"} BootCDN
                %a{:href => "http://www.jquery123.com/", :target => "_blank", :title => "jQuery中文文档"} jQuery
                %a{:href => "http://www.sinatrarb.com/", :target => "_blank", :title => "Sinatra"} Sinatra
                %a{:href => "http://angularjs.org", :target => "_blank", :title => "Sinatra"} AngularJS
                %a{:href => "http://www.highcharts.com", :target => "_blank", :title => "Sinatra"} HighChart
          .col-sm-4
            .widget
              %h4.title 赞助商
              .content.friend-links
                %a{:href => "", :title => "私房钱"} 不可言说

    = javascript_include_tag_with_cdn "jquery-2.1.1.min.js"
    = javascript_include_tag_with_cdn "bootstrap.320.min.js"
    :javascript
      $(function(){
        var pathname = window.location.pathname;
        $(".post-href").each(function(){
          $(this).attr("href", (pathname + $(this).attr('href')).replace("//", "/"));
        })
      })
