= javascript_include_tag "transaction.js"

.row
  .jumbotron
    %h1 支付宝
    %h2 {双功能接口} 示例

.row
  .bs-example{style:"height:100px;"}
    %form.form-inline.col-sm-12{"accept-charset" => "UTF-8", :action => "/alipay/checkout", :method => "post", :role => "form"}
      %div{:style => "margin:0;padding:0;display:inline"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}
          %input{:name => "authenticity_token", :type => "hidden", :value => "R1vA5j+UdbfiAgs9Ks2b0ishtFU0HnxboX8YPGEiS1A="}/
      .form-group.col-sm-5
        %input#price.form-control{:max => "1000", :min => "1", :name => "price", :placeholder => "商品价格(price)", :type => "number"}
      .form-group.col-sm-5
        %a.btn.btn-default.btn-sm.btn-primary{onclick: "Transactions.minus();"}
          %i.glyphicon.glyphicon-minus
        %input#quantity.form-control{:value => 1, :max => "100", :min => "1", :name => "quantity", :placeholder => "数量(quantity)", :type => "number", style: "width:30%;text-align:center;"}
        %a.btn.btn-default.btn-sm.btn-primary{onclick: "Transactions.plus();"}
          %i.glyphicon.glyphicon-plus
      %input.btn.btn-default{:name => "commit", :type => "submit", :value => "支付宝结账"}

.row
  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    %p power by #{link_to "sinatra", "https://github.com/sinatra/sinatra", target: "_blank" }. gem with #{link_to "alipay_dualfun", "https://github.com/happypeter/alipay_dualfun", target: "_blank"}, code #{link_to "here", "https://github.com/jay16/alipay_dualfun_demo", target: "_blank"}

.row
  .alert.alert-warning
    %ul
      %li
        注意！到了支付宝页面，默认选择的是
        %strong{style:"font-size:120%;"} [担保交易]
        , 另一个选项是[时即到账]
      %li
        [即时到账]会直接从支付宝中扣掉提交的金额;[担保交易]需要{卖方}{发货},{买方}{确认收货}
      %li 
        付款完成后，
        %strong{style:"font-size:120%;"} 请不要关闭支付宝窗口
        , 将自动跳回本站，方便您继续操作。

.row
  %h2 交易记录

  %table.table.table-hover
    %tr
      %th 交易号
        
      %th 金额	
      %th 创建时间
      %th 明细
       
    - @transactions.reverse.each do |t|
      %tr
        %td= t.out_trade_no
        %td= t.total_fee
        %td= t.notify_time
        %td= link_to "查看", "javascript:void(0);", onclick: "Transactions.show('#{t.out_trade_no}');"

/ Modal
#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content#myModalContent
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel.modal-title loading
      .modal-body
        loading
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
