%h3
  = @page_header
  %small= @current_stage
:css
  .table td { vertical-align:middle; }
%table.table.table-striped.table-condensed.table-bordered{style: 'table-layout: fixed;'}
  %thead
    %tr
      %th 排名
      %th 选手
      %th 公司
      %th 积分
  %tbody
    - @results.each_with_index do |result, index|
      %tr
        %td= result[0]
        %td
          = image_tag "head_#{result[1]}.jpg", class: "img-circle", style: "max-width: 30px;"
          = result[1].capitalize
        %td= result[3]
        %td= result[2] >= 0 ? result[2] : '-'
      - 