%h3
  = @page_header
  %small= @current_stage
%table.table.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th{style: "text-align:center;"} 排名
      %th 选手
      %th 公司
      %th{style: "text-align:center;"} 积分
  %tbody
    - @results.each_with_index do |result, index|
      %tr
        %td{style: "width:15%;text-align:center;height: 30px;vertical-align:middle;"}
          = result[0]
        %td{style: "width:35%;height: 30px;vertical-align:middle;"}
          = image_tag "head_#{result[1]}.jpg", class: "img-circle", style: "max-height: 30px;"
          = result[1].capitalize
        %td{style: "width:35%;height: 30px;vertical-align:middle;"}
          = result[4].capitalize
        %td{style: "width:15%;text-align:center;height: 30px;vertical-align:middle;"}
          = result[2] >= 0 ? "#{result[2]}/#{result[3]}" : '-'