%h3
  = @page_header
  %small 比赛明细
%table.table.table-striped.table-condensed.table-bordered{style: 'table-layout: fixed;'}
  %thead
    %tr
      %th 选手
      %th 对手
      %th 阶段
      %th 时间
  %tbody
    - @matches.sort_by { |h| h['date'] }.reverse_each do |match|
      %tr
        %td= "#{match['players'][0]}(#{match['scores'][0]})"
        %td= "#{match['players'][1]}(#{match['scores'][1]})"
        %td= match['stage']
        %td= match['date']
