.row
  - url = "/account/callbacks" + (@callback.id ? "/#{@callback.id}" : "")
  - form_for @callback, url, id: "callbackForm", class: "form-horizontal", role: "form" do |f|
    = f.hidden_field :weixiner_id
    .form-group
      = f.label "url", class: "col-lg-2 control-label"
      .col-lg-8
        = f.text_field :outer_url, class: "form-control", placeholder: "服务器地址"
    .form-group
      = f.label "token", class: "col-lg-2 control-label"
      .col-lg-8
        = f.text_field :token, class: "form-control", placeholder: "验证服务器的令牌"
    .form-group
      = f.label "关键字", class: "col-lg-2 control-label"
      .col-lg-8
        = f.text_field :keyword, class: "form-control", placeholder: "微信文字、语音文字中匹配的关键字"
    .form-group
      = f.label "描述", class: "col-lg-2 control-label"
      .col-lg-8
        = f.text_area :desc, class: "form-control", placeholder: "功能、使用描述", rows: "10"
    .form-group
      .col-lg-offset-2.col-lg-4
        = f.submit "提交", class: "btn btn-default"

= stylesheet_link_tag "bootstrapValidator.css"
= javascript_include_tag "bootstrapValidator.js"
