-#encoding: utf-8
.row
  %h1 回调函数

.row{style: "margin-top: 5px; background: white;"}
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th 昵称
        %th url
        %th token
        %th 关键字
        %th 数据
        %th 编辑
    %tbody
      - @callbacks.each do |callback|
        %tr
          %td= callback.weixiner.nick_name
          %td= callback.outer_url
          %td= callback.token
          %td= callback.keyword
          %td= callback.callback_datas.count
          %td
            = link_to "明细", "/account/callbacks/%d" % callback.id 
            |
            = link_to "编辑", "/account/callbacks/%d/edit" % callback.id
            |
            = link_to "复制", "/account/callbacks/%d/copy" % callback.id
