.row
  %h1{style: "display:inline-block;"} 回调函数 
  = link_to "编辑", "/account/callbacks/%d/edit" % @callback.id, class: "btn btn-sm btn-default", style: "margin-bottom: 15px;"

.row
  %table.table.table-condensed.table-bordered
    %tr
      %td url
      %td= @callback.outer_url
    %tr
      %td token
      %td= @callback.token
    %tr
      %td keyword
      %td= @callback.keyword
    %tr
      %td 创建时间
      %td= @callback.created_at.strftime("%Y-%m-%d %H:%M:%S")
    %tr
      %td 编辑时间
      %td= @callback.updated_at.strftime("%Y-%m-%d %H:%M:%S")
