%h1 理财产品动态

= javascript_include_tag "highcharts"
%table.table.table-strip.table-condensed.table-bordered
  %thead
    %th 藏品简称
    %th 最新价格
    %th 涨跌幅
    %th 成交量
    %th 成交金额
    %th 最高价
    %th 最低价

  %tbody
    - @nxscae_models.each do |nxscae|
      - dayinfo = nxscae.latest_info
      %tr
        %td= dayinfo.fullname
        %td= dayinfo.cur_price
        %td= dayinfo.current_gains
        %td= dayinfo.total_amount
        %td= dayinfo.total_money
        %td= dayinfo.high_price
        %td= dayinfo.low_price

    %tr
      %td 产品更新时间
      %td{"colspan" => 2}= NxscaeDayinfo.last.time
      %td 本地更新时间
      %td{"colspan" => 3}= NxscaeCache.last.updated_at.strftime("%Y-%m-%d %H:%M:%S") rescue "loading"
%pre
  = high_chart("highchart_id", highchart_generator)