= javascript_include_tag_with_cdn "highcharts.js"
= javascript_include_tag_with_cdn "angular.min.js"
= javascript_include_tag "demo_nxscae_controller.js"

%h1 理财产品

%div.alert.alert-warning.alert-dismissible{role: "alert"}
  产品更新时间: #{NxscaeDayinfo.last.time}, 本地更新时间: #{@local_latest_update}

%div#highchart_id

%table.table.table-strip.table-condensed.table-bordered{"ng-controller" => "DemoNxscaeController"}
  %thead
    %th 序号
    %th 藏品简称
    %th{width:"15%"}
      最新价格
      %select{"ng-model" => "orderCurPrice"}
        %option{value:"cur_price"} 升
        %option{value:"-cur_price"} 降
    %th 涨跌幅
    %th 成交量
    %th 成交金额
    %th 最高价
    %th 最低价

  %tbody{"ng-repeat" => "product in products | orderBy:orderCurPrice"}
    %tr
      %td 
        %a{"ng-click" => "trendChart(product.code)" } 
          {{ $index }}
      %td.fullname {{ product.fullname }}
      %td {{ product.cur_price }}
      %td {{ product.current_gains }}
      %td {{ product.total_amount }}
      %td {{ product.total_money }}
      %td {{ product.high_price }}
      %td {{ product.low_price }}
